@font-face {
    font-family:"Open Sans";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
  }
    @font-face {
    font-family:"Open Sans";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
  }
  body {
    font-family: "Open Sans", "Helvetica", sans-serif;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none; 
  }
  
  ul {
    list-style-type: none;
  }
  .header {
    background-image: url("../images/banner-bg.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
    background-size: cover;
    z-index: 1;
  }
  .header::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    z-index: 2;
  }
  .container {
    position: relative;
    z-index: 3;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 15px 125px;
  }
  .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 179px;
    z-index: 2;
  }
  .menu-items {
    display: flex;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px
  }
  .items:not(:last-child) {
    margin-right: 36px;
  }
  .link {
    color: inherit;
  }
  .link:hover {
    text-decoration: underline;
  }
  .title {
    color:#ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    font-family: Open Sans, Helvetica, sans-serif;
    width: 41%;
    margin: 50px auto 0;
    line-height: 74px;
    font-weight: bold;
  }
  
  
  .wrapper {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    padding: 64px 15px 0;
    justify-content: space-between;
  }
  .trend-text {
    text-align: center;
    margin-top: 55px;
    text-transform: uppercase;
  }
  .trend-text::after {
    display: block;
    content: "";
    border-bottom: 3px solid #e1d9bd; 
    width: 66px;
    margin: 10px auto;
  }
  .image-content {
    display: flex;
    width: 780px;
  }
  .image {
    width: 380px; 
  }
  .news {
    margin-bottom: 61px;
  }
  .news:last-child {
    margin-bottom: 63px;
  }
  .block {
    margin-left: 30px;
  }
  .list {
    display: flex;
    font-family: Open Sans, Helvetica, sans-serif;
    color: #b59f5b; 
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .item-two {
    margin-left: 30px;
  }
  .item-first-link {
    color: inherit;
  }
  .item-two {
    margin-left: 30px;
  }
  .item-two-link {
    color: inherit;
  }
  .item-first-link:hover {
    text-decoration: underline;
  }
  .item-two-link:hover {
    text-decoration: underline;
  }
  .caption {
    margin-top: 10px;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }
  .caption-link:hover {
    color: #b59f5b;
  }
  .caption-link {
    color: #0f0d0e;
    text-transform: uppercase;
  }
  
  .data {
    display: inline-block;
    margin: 33px 13px 33px 0;
    font-family: Open Sans, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #888888;
  }
  .name {
    font-family: Open Sans, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-transform: capitalize;
  }
  .text {
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    margin-bottom: 15px;
  }
  .text-bottom {
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
  }
  .description {
    width: 368px;
  }
  .item-third-link {
    margin-left: 35px;
    color: #b59f5b;
  }
  .item-third-link:hover {
    text-decoration: underline;
  }
  .new-posts {
    width: 273px;
  }
  .new-post-text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
  }
  
  .new-post-text::after {
    content: "";
    border-bottom: 3px solid #e1d9bd; 
    width: 66px;
    margin: 10px auto;
    display: block;
  }
  .sidebar {
    margin-bottom: 22px;
  }
  .sidebar-content {
    display: flex;
  }
  .sidebar-img {
    width: 71px;
  }
  .sidebar-link {
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: bold;
  }
  .sidebar-data {
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #868686;
    display: block;
  }
  .sidebar-news {
    margin-left: 20px;
  }
  .sidebar-link:hover {
    color: #b59f5b;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .search-field {
    /* width: 273px;  */
    margin-top: 40px;
    position: relative;
  }
  .field-one-form {
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    padding: 0 70px 0 19px;
  }
  .button-search {
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 30%;
    background-color: #b59f5b;
    width: 60px;
    height: 48px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  .field-one-form:focus {
    outline: 1px solid #f3f7f5;
  }
  .button-search:hover {
    outline: 1px solid #313131;
  }
  .newsletter {
    margin-top: 62px;
  }
  .newsletter-field-button {
   margin-top: 35px;
  }
  .text-newsletter:after {
    content: "";
    display: block;
    border-bottom: 3px solid #e1d9bd;
    width: 66px;
    margin: 10px auto;
  }
  .text-newsletter {
    text-align: center;
    font-size: 14px;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
  }
  .second-field-form {
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    padding: 0 19px 0 19px;
    margin-bottom: 17px;
  }
  .second-field-form:focus {
    outline: 1px solid #f3f7f5;
  }
  .button-subscribe {
    width: 100%;
    background-color: #b59f5b;
    height: 48px;
    border: none;
  }
  .button-text {
    font-family: Open Sans, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  }
  .button-subscribe:hover {
    outline: 1px solid #313131;
  }
  
  
  .tags {
    margin-top: 62px;
    width: 273px;
  }
  .tags-text {
    text-align: center;
    font-size: 14px;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
  }
  .tags-text:after {
    content: "";
    border-bottom: 3px solid #e1d9bd; 
    width: 66px;
    margin: 10px auto;
    display: block;
  }
  .list-tags {
    font-family: Open Sans, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
  }
  .tags-link {
    color: #0f0d0e;
  }
  .tags-link:hover {
    outline: 3px solid #b59f5b;
    outline-offset: 5px;
    
  }
  .list-tags-items {
    border: 3px solid #ededed;
    margin-right: 15px;
    margin-top: 25px;
    padding: 5px;
  }
  
  .topics {
    margin-top: 62px;
    width: 273px;
  }
  .text-topics {
    text-align: center;
    font-size: 14px;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
  }
  .text-topics:after {
    content: "";
    border-bottom: 3px solid #e1d9bd; 
    width: 66px;
    margin: 10px auto;
    display: block;
  }
  .topics-link {
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
  }
  .list-topics-items {
    margin-bottom: 27px;
    width: 100%;
  }
  .number {
    font-size: 12px;
    color: #b59f5b;
    padding-left: 5px;
    padding-top: 25px;
    vertical-align: top;
    width: 100%;
    border-bottom: 1px solid #ededed;
  }
  
  .topics-link:hover {
    color: #b59f5b;
  }
  
  
  .footer {
    max-width: 1200px;
    margin: 0 auto;
  }
  .social {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #f3f7f5;
  }
  .social-icon {
    display: block;
    width: 20px;
    height: 20px;
  }
  .social-item:nth-child(n+2) {
    margin-left: 30px;
  }
  .social-icon-dribbble {
    background-image: url(../svg/001-dribbble.svg);
  }
  .social-icon-pinterest {
    background-image: url(..//svg/001-pinterest.svg);
  }
  .social-icon-tumblr {
    background-image: url(../svg/003-tumblr.svg);
  }
  .social-icon-twitter {
    background-image: url("..//svg/004-twitter.svg");
  }
  .copyright-text {
    display: block;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 10px;
  }
  .trend-content {
    width: 100%;
    display: flex;
    gap: 3px;
    margin: 27px auto 0;
  }
  .card-content {
    width: calc(100% / 4 - 3px * 3 / 4);
    min-height: 320px;
    display: flex;
    align-items: flex-end;
    position: relative;
  }
  .card-content::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100%;
  }
  .box-content {
    border: 3px solid #b59f5b;
    position: relative;
    padding: 15px 20px 10px;
    margin: 30px 15px 15px;
    z-index: 2;
    width: 90%;
  }
  .trend-list {
    display: flex;
    gap: 20px;
  }
  .link-trend {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b59f5b;
  }
  .link-trend:hover {
    text-decoration: underline;
  }
  .link-text-block {
    font-size: 24px;
    font-weight: bold;
    color:#ffffff;
    display: block;
    text-transform: uppercase;
  }
  .text-block {
    display: block;
  }
  .link-text-block:hover {
    color:#b59f5b;
  }
  .content-one {
    background-image: url("../images/trend1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
  }
  .content-two {
    background-image: url("../images/trend2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
  }
  .content-three {
    background-image: url("../images/trend3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
  }
  .content-four {
    background-image: url("../images/trend4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
  }
  .goods-text {
    margin-top: 50px;
    margin-bottom: 28px;
    text-transform: uppercase;
    text-align: center;
  }
  .product {
    width: 100%;
    margin-bottom: 64px;
  }
  .shop-conteiner {
    max-width: 1230px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    gap: 110px;
    margin: auto;
  }
  .products {
    width: calc(100% / 3 - 110px * 2 / 3);
    /* gap: 110px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .capture-product {
    z-index: 1;
    position: relative;
  }
  .price-buy {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 45px;
  }
  .info-product {
    border: 3px solid #b59f5b;
    min-width: 340px;
    padding-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 2;
    position: relative;
    top: -30px;
    flex-grow: 1;
  }
  .buy-button {
    border: none;
    width: 140px;
    height: 46px;
    background: #b59f5b;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .buy-button:hover {
    cursor: pointer;
  }
  .value {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .price1 {
    text-decoration: line-through
  }
  .shop-text {
    margin-bottom: 13px;
  }
  .link-info {
    color: #b59f5b;
    text-decoration: none;
  }
  .link-price {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .price {
    font-size: 20px;
    font-weight: bold;
  }

 
  .popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    max-height: 100vh;
    background: rgb(0, 0, 0, 0.7);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "Open Sans", sans-serif;
  }
  .popup {
    position: relative;
    width: 30%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding-right: 8px;
    padding-left: 8px;
    font-family: inherit;
  }
  .cross-popup-button {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    top: -35px;
    cursor: pointer;
    background: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    border: none;
    outline: none;
  }
  .text-popup {
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    margin: 30px auto;
    text-align: center;
  }
  .text-popup::after {
    content: "";
    display: block;
    margin: 10px auto;
    border-bottom: 3px solid #e1d9bd;
    width: 66px;
  }
  .form-wrapper {
    margin-left: 30px;
  }
  .select-popup {
    position: relative;
    display: block;
    width: 330px;
    height: 42px;
    margin-top: 8px;
    margin-bottom: 36px;
    border: none;
    outline: none;
    padding-left: 16px;
    font-size: 13px;
    font-family: inherit;
    color: rgb(0, 0, 0, 0.5);
    background: #f4f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-position: right 10px center;
    background-size: 10px;
    background-repeat: no-repeat;


    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .select-group {
    position: relative;
  }
  .text-mail {
    display: block;
  }
  .text-radio {
    vertical-align: middle;
    cursor: pointer;
  }
  .radio-popup {
    margin-top: 8px;
    appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
  }
  .radio-no {
    margin-left: 46px;
  }
  .image-svg-popup {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
  }
  .radio-popup:checked + .image-svg-popup {
    background-image: url(..//svg/form-circle.svg);
    background-size: 15px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .field-text {
    display: block;
  }
  .textarea {
    width: 333px;
    height: 120px;
    margin-top: 8px;
    background: #f3f7f6;
    resize: none;
    border: none;
    outline: none;
    overflow: auto;
    padding: 15px 14px;
    cursor: pointer;
    font-family: inherit;
  }
  .textarea:focus {
    border: 1px solid #b59f5b;
  }
  .button-popup {
    display: block;
    width: 333px;
    height: 49px;
    margin-top: 27px;
    margin-bottom: 27px;
    background: #b59f5b;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .button-popup:hover {
    background: #323232;
  }
  .field-text {
    margin-top: 30px;
  }



  @media(min-width: 1200px) {
    .hamburger-container {
      display: none;
    }
  }

  @media(min-width: 641px) and (max-width: 1199px) {
    .header {
      background: url(../images/banner-bg-tablet.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .menu {
      display: none;
    }
    .trend-content {
      flex-wrap: wrap;
    }
    .card-content {
      width: calc(100% / 2 - 3px / 2);
    }
    .wrapper {
      max-width: 900px;
    }
    .image-content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .block {
      padding: 0;
      margin: 0;
      max-width: 390px;
    }
    .new-posts {
      width: 40%;
    }
    .product {
      max-width: 900px;
      margin: 0 auto 64px;
    }
    .products {
      width: 46%;
    }
    .info-product {
      width: 50%;
    }
    .shop-conteiner {
      flex-wrap: wrap;
      justify-content: space-between;
      min-width: 641px;
      padding: 0;
      /* padding-left: 20px; */
      gap: 0;
    }
    .shop-item-one {
      margin-bottom: 20px;
    }
    .shop-item-two {
      margin-bottom: 20px;
    }
    .popup {
      min-width: 385px;
    }
    .select-popup {
      width: 88%;
    }
    .form-hint {
      padding-right: 10px;
    }
    .hamburger-menu {
      background-image: url(../svg/hamburger-menu.svg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      width: 40px;
      height: 40px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
    /* .sidebar {
      width: 50%;
    } */
  }

  @media(min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    /* .trend-content {
      flex-wrap: nowrap;
    } */
  }
  
  @media(max-width: 640px) {
    .header {
      background: url(../images/banner-mobile.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .container {
      max-width: 640px;
    }
    .menu {
      display: none;
    }
    .header-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 220px;
      margin-bottom: 46px;
    }
    .hamburger-container {
      position: absolute;
      right: 15px;
      top: 29px;
    }
    .title {
      margin: 0;
      margin-bottom: 50px;
      width: 100%;
    }
    .logo {
      width: 100%;
    }
    .trend-content {
      flex-direction: column;
    }
    .card-content {
      width: 100%;
    }
    .wrapper {
      flex-direction: column;
      max-width: 640px;
    }
    .content {
      width: 100%;
    }
    .image-content {
      flex-direction: column;
      width: 100%;
    }
    .image-content::after {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-bottom: 3px solid #eeeeee;
      margin-top: 35px;
    }
    .image {
      width: 100%;
    }
    .block {
      padding: 0;
      margin-top: 16px;
      margin-left: 0;
    }
    .new-posts {
      width: 100%;
    }
    .search-field {
      width: 100%;
    }
    .tags {
      width: 100%;
    }
    .topics {
      width: 100%;
    }

    .text-topics {
      width: 100%;
      display: block;
    }
    .list-tags {
      justify-content: center;
      align-items: center;
    }
    .product {
      display: flex;
      max-width: 640px;
    }
    .products {
      width: 100%;
    }
    .shop-conteiner {
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
    .shop-capture {
      width: 100%;
    }
    .info-product {
      width: 100%;
      padding-left: 10px;
      margin: -30px auto;
    }
    .info-wrapper {
      width: 100%;
    }
    .capture-product {
      padding-left: 20px;
    }
    .popup {
      min-width: 340px;
    }
    .select-popup,
    .textarea,
    .button-popup {
      width: 88%;
    }
    .hamburger-menu {
      background-image: url(../svg/hamburger-menu.svg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      width: 40px;
      height: 40px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  
  @media(max-width: 640px) and (orientation: landscape) {
    .trend-content {
      flex-wrap: wrap;
      flex-direction: row;
    }
    .card-content {
      width: calc(100% / 2 - 3px / 2);
    }
  }
  